@mixin rotate($degree) {    
    -moz-transform: rotate($degree);
    -ms-transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -o-transform: rotate($degree); 
    transform: rotate($degree);
}